<!-- 继承 base.html 模板 -->
{% extends "base.html" %}

<!-- 设置页面标题 -->
{% block title %}首页 - 技术分享社区{% endblock %}
<!-- 页面主体内容 -->
{% block content %}
    <section class="questions-section">
        <div style="padding: 5px; border-bottom: 1px solid #ccc;">
            <h2>我发布的问题</h2>
        </div>
        {% for issue in user_issue %}
            <ul id="questions-list">
                <li class="question-item">
                    <div class="question-title">
                        <a href="/user/issue/{{ issue.id }}">
                            <strong>{{ issue.title }}</strong><br>
                            {# 文章内容#}
                            <div style="word-wrap: break-word; padding: 20px 40px 10px 0;color: #777777;font-size: 14px;">
                                <p>{{ issue.content | truncate(200) }}</p>
                            </div>
                        </a>
                    </div>
                    <div class="question-meta">
                        <span>发布于 {{ issue.created_at }}</span>
                        <span>提问者：{{ user_data.username }}</span>
                        <span>浏览量：{{ issue.views }}</span>
                        {% if issue.tag %}
                            &ensp;|&ensp;<span class="tag">{{ issue.tag }}</span>
                        {% endif %}
                    </div>
                </li>
            </ul>
        {% endfor %}

    </section>

    <section class="tags-section">
        <h2>热门标签</h2>
        <ul id="tags-list">
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Vue</a></li>
            <li><a href="#">Node.js</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">React</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Docker</a></li>
        </ul>
    </section>
{% endblock %}