<!-- 继承 base.html 模板 -->
{% extends "base.html" %}

<!-- 设置页面标题 -->
{% block title %}首页 - 技术分享社区{% endblock %}

<!-- 页面主体内容 -->
{% block content %}
    <section class="questions-section">
        <div style="padding: 5px; border-bottom: 1px solid #ccc;">
            <h2>最热问题</h2>
        </div>
        {% for data in all_data %}
            <ul id="questions-list">
                <li>
                    <a href="/user/issue/{{ data.id }}">
                        <strong>{{ data.title }}</strong><br>
                        提问者：{{ data.username }} · 浏览量：{{ data.views }}· 时间：{{ data.created_at }}
                    </a>
                </li>
            </ul>
        {% endfor %}

    </section>

    <section class="tags-section">
        <h2>热门标签</h2>
        <ul id="tags-list">
            <li><a href="#">JavaScript</a></li>
            <li><a href="#">Vue</a></li>
            <li><a href="#">Node.js</a></li>
            <li><a href="#">Python</a></li>
            <li><a href="#">React</a></li>
            <li><a href="#">CSS</a></li>
            <li><a href="#">Docker</a></li>
        </ul>
    </section>
{% endblock %}