{% extends "base.html" %}
{% block title %}问题详情 - 技术分享社区{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/issue.css') }}">
{% endblock %}
{% block content %}
    <div class="issue-detail" id="issue-detail">
        {% if issue_data %}
            <h2 id="issue-title">{{ issue_data.title }}</h2>
            <div class="issue-meta">
                <span>提问者：<span id="issue-author">{{ user_data.username }}</span></span> |
                <span>浏览量：<span id="issue-views">{{ issue_data.views }}</span></span> |
                <span>发布时间：<span id="issue-time">{{ issue_data.created_at }}</span></span>
            </div>
            <div class="issue-content" id="issue-content">
                <p style="white-space: normal;word-wrap: break-word;">{{ issue_data.content }}</p>
                {% if issue_data.id == isMyIssue.id %}
                    <a href="/edit/{{ issue_data.id }}"
                       style="float: right;display: inline-block;text-decoration: none;padding: 6px 12px;background: #e9ecef;border-radius: 8px;text-align: center;">修改 </a>
                {% endif %}
            </div>
        {% endif %}

    </div>
    <section class="tags-section">
        <a href="/allIndex" class="back-link">← 返回最新热点</a><br>
        <a href="/" class="back-link">← 返回我发布的问题</a>
    </section>
{% endblock %}